.title-cart{
	font-size: 22px;
    margin-top: 40px;
    color: #FF0000;
    border-bottom: 3px solid #3ADF00;
}
.Detailed-table{
	color: #0000FF;
	font-size: 15px;
}
.product-cart{
	margin-top: 30px;
}
.number-total{
	font-size: 18px;
}
.number-total{
	color: #0404B4;
}